*{
	margin: 0;
	padding: 0;
    font-weight: 200;
	font-family: "Roboto",sans-serif;
	box-sizing: border-box;
}
.container{
	box-sizing: border-box;
	padding:10px 20px;
	background-image: url("../images/images.jpg");
	background-repeat: repeat;
	/*margin: 30px 10px;*/
}
/*header starts*/
h1{
	margin: auto;
    width: 150px;
}
h1 a{
	display: inline-block;
	text-align: center; 
}
h1 a img{ 
	border-radius: 5%;
}
header p, footer{	
    font-size: 18px;
    line-height: 26px;
    color: white;
	padding: 10px 100px;
}
.discription{
	text-align: center;
	width: 950px;
	margin: auto;
}
/*header ends*/

/*main section starts*/
main{
	position: relative;
}
h2{
	text-align: center;
	text-transform: uppercase;
	transition:300ms all ease-in-out;
	font-size: 30px;
	color: white;
	padding-bottom: 20px;
}
section{
	position: relative;
}
.work_section{
	width: 350px;
	display: inline-block;
	height: 350px;
	transform: scale(1);
	padding: 20px;
	margin-left: 15%;
}
figure img{
	height: 250px;
	width: 250px;
	padding: 10px 0px 10px 20%;
}
figure{
	border-bottom:2px solid white; 
}
article img:hover {
	transform: scale(1.25);
	transition:400ms all ease-in-out;

}
article h3 {display: none;}
article h3:hover{
	display: block; 
	text-align:center;
}
figcaption{
	text-align: center;
	width: 310px;
	text-transform: uppercase;
	color: white;
}
/*main section ends*/
/*footer starts*/
footer ul,footer p {
	text-transform:uppercase;
	text-align: center; 
}

footer li{
	display: inline-block;
	padding: 0px 30px;
}
footer p a,footer li a{
	color: white;
	text-decoration: none;
}
.ancars:hover{
	color: #80FF00;
}
/*footer ends*/