*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

header{
	

}
header a{
	display: block;
	position: relative;
}

header p{
	text-align: center;
	font-size: 24px;
}



header img{
	transform: translateX(50%);
	width: 200px;
	height: 200px;
}

img{
	width: 90%;
}