*{
	padding: 0px;
	margin: 0px;	
	/*box-sizing: border-box;*/
}
.container{
  width: 950px;
  position: relative;
  top: 20px;
  margin: auto;

}
/*header section starts	*/
h1{
	display: inline-block;
}
.subscribe{
	position: absolute;
	display: inline-block;
	bottom: 0px;
	right: 0px;
	color:#2a2d3c;
	text-transform: uppercase;	
}

h1 a{
	position: relative;
	display: inline-block;
	text-decoration: none;

}
h1 a img{
	position: relative;
	display: inline-block;
	text-decoration: none;

}
a strong{
	color:#2a2d3c;
	text-decoration: none;
}
/*header ends*/

main{
	height: 794px;
	padding: 30px 0px;
}
.main{
	padding: 30px;
	margin-bottom: 30px;
	background-color: #445978;
	color: #f2f9ff;
}
h2{
	padding-bottom: 30px;
	text-transform: uppercase;
}
.main  p{
	padding-bottom: 30px;
}

.main p:first-letter{
	text-transform: capitalize;
}
.sub{
	position: relative;
}
article{
	position: absolute;
	width: 200px;
	height: 217px;
	display: inline-block;
	padding: 20px;
	background-color: #87c442;
	color: #e6ffe1;
}
h3{
	text-transform: uppercase;
}
article p{
	padding: 20px 0px;
}
article p:first-letter{
	text-transform: capitalize;
}
.anyimage-figure{
	position: absolute;
	right: 0px;
	top:0px;
}
.anyimage-figure img{
	height: 468px;
	width: 640px;
}
#anyimage2{
	position: absolute;
	top: 270px;
	left: 0px;
	width:240px;
}
footer ul{
	/*display: inline-block;*/
}
.scocial_media_icons{
	list-style-type: none;
	display: inline-block;
}
.scocial_media_icons > li{
	display: inline-block;
}
.scocial_media_icons > li >a >img{
	width: 200px;
}
.Twitter{
	padding: 0px 32px;
}
.container{
	padding-right: 32px;
}
footer ul li{
	display: inline-block;
}