*{
	margin: 0;
	padding: 0;
}
.container{
	position: relative;
	margin: 0 auto;
	width: 900px;
}
header{
	margin-top: 30px;
}
h1{
	display: inline-block;
}


.subscribe{
	position: absolute;
	right: 0px;
	top:30px;
	text-transform: uppercase;
	color: black;
}
.main{
	padding: 30px;
	background-color: #3E4884;
	font-family: sans-serif;
}
h2{
	padding-bottom: 30px;
	color:#ffffff;
	font-family: sans-serif;
	text-transform: uppercase;
}
.main>p{
	padding-bottom: 30px
}
.main>button{
	padding: 15px 32px;
	border: none;
	background-color: #07214B;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}
.sub{
	position: relative;
	margin-top: 30px;
}
article{
	position: absolute;
	padding: 20px;
	background-color: #6AF53B;
	display: inline;
	font-family: sans-serif;
	width: 200px;
}
h3{
	padding-bottom: 20px;
	color: #ffffff;
	text-transform: uppercase;
	font-family: sans-serif;
}
article>p{
	padding-bottom: 20px;
}
article>button{
	padding: 15px 32px;
	background-color: #28770D;
	border: none;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}
.anyimage-figure{
	float: right;	
}
.anyimage-figure>img{
	height: 490px;
	width: 620px;
}
.any-figure{
	position: absolute;
	margin-top: 30px;
	bottom: 0;
	top: 239px;
}
.any-figure>img{
	height: 220px;
	width: 240px;
}
.scocial_media_icons{
	margin: 20px 0px 20px 0px;
	display: inline-block;
	list-style-type: none;
}
.scocial_media_icons> li{
	display: inline-block;
}
.scocial_media_icons> li >a >img{
	width: 207px;
}
.Pinterest{
	margin-right: 20px;
}
.Twitter{
	margin-right: 20px;
}
.container{
	margin-right: 20px;
}
p{
	color:#ffffff;
}
a{
	text-decoration: none;
	color: black;	
}